<% set_meta_tags(build_meta_tags(title: "#{@minute.title}の出席登録", description: "#{@minute.title}の出席を登録するページです。")) %>
<div class="bg-blue-700">
  <h1 class="page_header"><%= "#{Attendance.model_name.human}登録" %></h1>
</div>

<div class="page_body">
  <div>
    <p class="text-lg text-center"><%= @minute.meeting_date.strftime('%Y年%m月%d日') %>のMTGの出席予定を登録</p>

    <%= form_with(model: [ @minute, @attendance ], id: "attendance_form", class: "contents") do |form| %>
      <% if @attendance.errors.any? %>
        <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
          <h2>以下の項目で入力内容に誤りがあります:</h2>

          <ul>
            <% @attendance.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="my-5 text-center">
        <p><%= Attendance.human_attribute_name('status') %></p>
        <%= form.radio_button :status, "present", class: "cursor-pointer" %>
        <%= form.label :status_present, Attendance.human_attribute_name('status.present'), class: "mr-10 cursor-pointer" %>
        <%= form.radio_button :status, "absent", class: "cursor-pointer" %>
        <%= form.label :status_absent, Attendance.human_attribute_name('status.absent'), class: "cursor-pointer" %>
      </div>

      <div class="my-5 text-center present_entry_field">
        <p><%= Attendance.human_attribute_name('time') %></p>
        <%= form.radio_button :time, "day", class: "cursor-pointer" %>
        <%= form.label :time_day, Attendance.human_attribute_name('time.day'), class: "mr-10 cursor-pointer" %>
        <%= form.radio_button :time, "night", class: "cursor-pointer" %>
        <%= form.label :time_night, Attendance.human_attribute_name('time.night'), class: "cursor-pointer" %>
      </div>

      <div class="my-5 text-center absent_entry_field">
        <%= form.label :absence_reason, Attendance.human_attribute_name('absence_reason'), class: "block mb-2" %>
        <%= form.text_field :absence_reason, placeholder: '職場のイベントに参加するため', class: 'input_type_text w-[400px] md:w-[600px]' %>
      </div>

      <div class="my-5 text-center absent_entry_field">
        <%= form.label :progress_report, Attendance.human_attribute_name('progress_report'), class: "block mb-2" %>
        <%= form.text_area :progress_report, placeholder: "Issue#8000, チームメンバーのレビュー待ちの状態です。", class: 'w-[400px] md:w-[600px] h-36 border border-gray-300 rounded-lg align-middle' %>
        <div class="mt-2 mx-auto text-sm w-[550px] text-gray-500 text-left">
          <p class="text-center mb-2">進捗報告は以下の形式で入力をお願いします。</p>
          <ul>
            <li>進捗報告は一つにつき一行で記入する</li>
            <li>
              自分にアサインされたIssueは、「Issue#番号, 進捗報告」の形式で記入する
              <ul>
                <li>(例) Issue#8000, Twitter Cardの仕様を調査しました。</li>
              </ul>
            </li>
            <li>
              レビュー対応はその旨を記入する
              <ul>
                <li>(例) チームメンバーから依頼されたレビュー対応を行いました。</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div class="text-center">
        <%= form.submit "#{Attendance.model_name.human}を登録", class: "button cursor-pointer" %>
      </div>
    <% end %>
  </div>
</div>
