<div class="mx-auto w-full">
  <h1 class="font-bold text-4xl text-center">出席登録</h1>

  <div>
    <%= form_with(model: [ @minute, @attendance ], id: "attendance_form", class: "contents") do |form| %>
      <% if @attendance.errors.any? %>
        <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
          <h2><%= pluralize(@attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

          <ul>
            <% @attendance.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="my-5 text-center">
        <p>出欠</p>
        <%= form.radio_button :status, "present" %>
        <%= form.label :status_present, "出席", class: "mr-10" %>
        <%= form.radio_button :status, "absent" %>
        <%= form.label :status_absent, "欠席" %>
      </div>

      <div class="my-5 text-center present_entry_field">
        <p>出席時間帯</p>
        <%= form.radio_button :time, "day" %>
        <%= form.label :time_day, "昼の部", class: "mr-10" %>
        <%= form.radio_button :time, "night" %>
        <%= form.label :time_night, "夜の部" %>
      </div>

      <div class="my-5 text-center absent_entry_field">
        <%= form.label :absence_reason, "欠席理由" %>
        <%= form.text_field :absence_reason, class: 'input_type_text' %>
      </div>

      <div class="my-5 text-center absent_entry_field">
        <%= form.label :progress_report, "進捗報告" %>
        <%= form.text_field :progress_report, class: 'input_type_text' %>
      </div>

      <div class="text-center">
        <%= form.submit '出席を登録', class: "button" %>
      </div>
    <% end %>
  </div>
</div>
