<div class="mx-auto w-full">
  <h1 class="font-bold text-4xl text-center"><%= "#{Attendance.model_name.human}登録" %></h1>

  <div>
    <%= form_with(model: [ @minute, @attendance ], id: "attendance_form", class: "contents") do |form| %>
      <% if @attendance.errors.any? %>
        <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
          <h2>以下の項目で入力内容に誤りがあります:</h2>

          <ul>
            <% @attendance.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="my-5 text-center">
        <p><%= Attendance.human_attribute_name('status') %></p>
        <%= form.radio_button :status, "present" %>
        <%= form.label :status_present, Attendance.human_attribute_name('status.present'), class: "mr-10" %>
        <%= form.radio_button :status, "absent" %>
        <%= form.label :status_absent, Attendance.human_attribute_name('status.absent') %>
      </div>

      <div class="my-5 text-center present_entry_field">
        <p><%= Attendance.human_attribute_name('time') %></p>
        <%= form.radio_button :time, "day" %>
        <%= form.label :time_day, Attendance.human_attribute_name('time.day'), class: "mr-10" %>
        <%= form.radio_button :time, "night" %>
        <%= form.label :time_night, Attendance.human_attribute_name('time.night') %>
      </div>

      <div class="my-5 text-center absent_entry_field">
        <%= form.label :absence_reason, Attendance.human_attribute_name('absence_reason') %>
        <%= form.text_field :absence_reason, class: 'input_type_text' %>
      </div>

      <div class="my-5 text-center absent_entry_field">
        <%= form.label :progress_report, Attendance.human_attribute_name('progress_report') %>
        <%= form.text_field :progress_report, class: 'input_type_text' %>
      </div>

      <div class="text-center">
        <%= form.submit "#{Attendance.model_name.human}を登録", class: "button" %>
      </div>
    <% end %>
  </div>
</div>
