<% content_for(:title) { page_title("#{@course.name}の議事録一覧") } %>
<% set_meta_tags(build_meta_tags("#{@course.name}の議事録一覧ページです。")) %>
<div class="mx-auto w-full">
  <div class="mx-auto">
    <%= render 'courses/tabs/course_tab', active_tab: @course, resource: Minute %>

    <h2 class="mb-8 text-2xl font-bold text-center"><%= "#{@course.name}の議事録" %></h2>

    <% active_tab = params[:year] ? params[:year].to_i : @course.meeting_years.max %>
    <%= render 'years_tab', course: @course, active_tab: active_tab %>

    <div>
      <ul class="list-disc list-inside">
        <% @minutes.each do |minute| %>
          <li class="mb-4">
            <%= link_to "#{minute.title}", minute, class: "py-3 inline-block" %>
            <% if minute.exported? %>
              <span class="ml-2">
                <%= link_to 'GitHub Wikiで確認', github_wiki_url(minute), target: "_blank", rel: "nofollow" %>
              </span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
