<% set_meta_tags(build_meta_tags(title: "#{@course.name}の議事録一覧", description: "#{@course.name}の議事録一覧ページです。")) %>
<%= render 'courses/tabs/course_tab', active_tab: @course, resource: Minute %>

<div class="bg-blue-700">
  <h1 class="page_header"><%= "#{@course.name}の議事録" %></h1>
</div>

<div class="page_body">
  <% active_tab = params[:year]&.to_i || @course.meeting_years.max %>
  <%= render 'years_tab', course: @course, active_tab: active_tab %>

  <div>
    <% if @minutes.none? %>
      <p><%= "#{@course.name}の議事録はまだ作成されていません。" %></p>
    <% else %>
      <ul class="list-none pl-0">
        <% @minutes.each do |minute| %>
          <li class="border-b-[1px] border-gray-300 first:border-t-[1px] first:border-gray-300">
            <%= link_to "#{minute.title}", minute, class: "py-3 inline-block text-sm md:text-base" %>
            <% if minute.exported? %>
              <span class="ml-2">
                <%= link_to 'GitHub Wikiで確認', github_wiki_url(minute), target: "_blank", rel: "nofollow" %>
              </span>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
