<div class="flex flex-col gap-x-0 gap-y-6">
  <dl class="flex flex-wrap gap-x-0 gap-y-1">
    <% attendances.each do |attendance| %>
      <div class="flex flex-col justify-center items-center text-center -mr-[1px]">
        <dt class="bg-blue-100 p-1 text-sm border border-gray-400 w-12 -mb-[1px]" data-attendance-on="<%= l(attendance[:date], format: :ymd_hyphen) %>">
          <%= l(attendance[:date], format: :short) %>
        </dt>
        <% background_color = attendance[:attended].nil? ? 'bg-gray-200' : 'bg-white' %>
        <dd class="p-1 text-sm border border-gray-400 w-12 text-center <%= background_color %>" data-attendance-on="<%= l(attendance[:date], format: :ymd_hyphen) %>">
          <% if attendance[:attended] == false %>
            <span data-tooltip-target="<%= "absence_reason_for_attendance_#{attendance[:attendance_id]}" %>">欠席</span>
            <div id="<%= "absence_reason_for_attendance_#{attendance[:attendance_id]}" %>" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-700 rounded-lg shadow-xs opacity-0 tooltip">
              <%= attendance[:absence_reason] %>
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          <% else %>
            <%= attendance_status(attendance[:attended], attendance[:session]) %>
          <% end %>
        </dd>
      </div>
    <% end %>
  </dl>
</div>
