<% set_meta_tags(build_meta_tags(title: 'ダッシュボード', description: 'ダッシュボードページです。')) %>
<h1 class="font-bold text-xl text-center mb-8 md:text-4xl">管理ページ</h1>

<div class="page_body">
  <% @courses.each do |course| %>
    <div class="mb-10" data-course="<%= course.id %>">
      <h2 class="text-lg font-bold mb-4 md:text-2xl"><%= course.name %></h2>
      <ul>
        <li class="mb-2"><%= link_to "議事録一覧", course_minutes_path(course) %></li>
        <li class="mb-2"><%= link_to "所属メンバー一覧", course_members_path(course) %></li>
        <li class="mb-2">
          <span class="after:content-['\00a0:']">ミーティング開催週</span>
          <span class="font-bold"><%= Course.human_attribute_name("meeting_week.#{course.meeting_week}") %></span>
        </li>
        <li class="mb-2">
          <span class="after:content-['\00a0:']">最新の議事録</span>
          <% if course.minutes.none? %>
            まだ議事録は作成されていません
          <% else %>
            <%= link_to "#{course.minutes.order(:meeting_date).last.title}", edit_minute_path(course.minutes.order(:meeting_date).last) %>
          <% end %>
        </li>
      </ul>
    </div>
  <% end %>
</div>
