<div id="<%= dom_id minute %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Release branch:</strong>
    <%= minute.release_branch %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Release note:</strong>
    <%= minute.release_note %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Other:</strong>
    <%= minute.other %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Meeting date:</strong>
    <%= minute.meeting_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Next meeting date:</strong>
    <%= minute.next_meeting_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Notified at:</strong>
    <%= minute.notified_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Course:</strong>
    <%= minute.course_id %>
  </p>

</div>
