<% set_meta_tags(build_meta_tags(title: "#{@minute.title}の議事録編集", description: "#{@minute.title}の議事録の編集ページです。")) %>
<div class="bg-blue-700 mb-8">
  <div class="flex justify-between items-center md:max-w-5xl md:mx-auto">
    <h1 class="text-white font-bold text-xl py-4 md:text-2xl">議事録編集</h1>
    <%= link_to 'プレビュー', @minute, class: "p-2 bg-white text-blue-700 before:content-['<'] before:mr-4 hover:no-underline hover:bg-gray-200" %>
  </div>
</div>

<div class="page_body">
  <div class="markdown-body">
    <h1><%= @minute.title %></h1>

    <h1>ふりかえり</h1>

    <h2>出席者</h2>
    <ul>
      <li class="mb-2"><%= link_to '@komagata', 'https://github.com/komagata' %>(スクラムマスター)</li>
      <li class="mb-2"><%= link_to '@machida', 'https://github.com/machida' %>(プロダクトオーナー)</li>
    </ul>
    <%= content_tag :div, id: 'attendees_list', data: {minuteId: @minute.id}.to_json do %><% end %>

    <h2>欠席者</h2>
    <%= content_tag :div, id: 'absentees_list', data: {minuteId: @minute.id, course_name: @minute.course.name}.to_json do %><% end %>

    <h3>連絡なし</h3>
    <%= content_tag :div, id: 'unexcused_absentees_list', data: {minuteId: @minute.id}.to_json do %><% end %>

    <% if member_signed_in? && !@minute.already_finished? %>
      <div class="my-12">
        <% if attendance = @minute.attendances.find_by(member: current_member) %>
          <%= link_to '出席予定を変更する', edit_attendance_path(attendance), class: "!text-white !bg-blue-700 py-4 px-8 border border-blue-700 rounded-lg hover:!no-underline hover:!bg-blue-800" %>
        <% else %>
          <%= link_to '出席予定を登録する', new_minute_attendance_path(@minute), class: "!text-white !bg-blue-700 py-4 px-8 border border-blue-700 rounded-lg hover:!no-underline hover:!bg-blue-800" %>
        <% end %>
      </div>
    <% end %>

    <h2>デモ</h2>
    <p>
      今回のイテレーションで実装した機能をプロダクトオーナーに向けてデモします。（画面共有使用） 「お客様」相手にデモをするという設定なので、MTG前に事前に準備をしておくといいかもしれません。 テストデータなどは事前に準備しておいてください。
    </p>

    <h2>今週のリリースの確認</h2>
    <p>木曜日の15時頃リリースします。</p>
    <%= content_tag :div, id: 'release_branch_form', data: {minuteId: @minute.id, description: 'branch', content: @minute.release_branch, isAdmin: admin_signed_in?, course: @minute.course.name}.to_json do %><% end %>
    <%= content_tag :div, id: 'release_note_form', data: {minuteId: @minute.id, description: 'note', content: @minute.release_note, isAdmin: admin_signed_in?, course: @minute.course.name}.to_json do %><% end %>

    <h2>話題にしたいこと・心配事</h2>
    <p>明確に共有すべき事・困っている事以外にも、気分的に心配な事などを話すためにあります。</p>
    <%= render 'topic_example' %>

    <%= content_tag :div, id: 'topics', data: { minuteId: @minute.id,
                                                topics: @topics.as_json(only: [:id, :content, :topicable_id, :topicable_type], include: { topicable: { only: [:name] } }),
                                                currentDevelopmentMemberId: current_development_member.id,
                                                currentDevelopmentMemberType: current_development_member.class.name}.to_json do %><% end %>

    <h2>その他</h2>
    <%= content_tag :div, id: 'other_form', data: {minuteId: @minute.id, content: @minute.other, isAdmin: admin_signed_in?}.to_json do %><% end %>

    <h2>次回のMTG</h2>
    <%= content_tag :div, id: 'next_meeting_date_form', data: {minuteId: @minute.id, nextMeetingDate: @minute.next_meeting_date, isAdmin: admin_signed_in?}.to_json do %><% end %>

    <h1>計画ミーティング</h1>
    <ul>
      <li>プランニングポーカー</li>
    </ul>
  </div>
</div>
