<% set_meta_tags(build_meta_tags(title: "#{@minute.title}の議事録", description: "#{@minute.title}の議事録のページです。")) %>
<div class="bg-blue-700 mb-8">
  <div class="flex justify-between items-center md:max-w-5xl md:mx-auto">
    <h1 class="text-white font-bold text-xl py-4 md:text-2xl">議事録</h1>
    <%= link_to '議事録一覧', course_minutes_path(@minute.course),
                class: "p-2 bg-white text-blue-700 before:content-['<'] before:mr-4 hover:no-underline hover:bg-gray-200" %>
  </div>
</div>

<div class="page_body">
  <h2 class="mb-8 text-xl font-bold md:text-2xl"><%= @minute.title %></h2>

  <%= content_tag :div, id: 'minute_preview', data: {markdown: MarkdownBuilder.build(@minute)}.to_json, class: 'mb-4' do %><% end %>

  <% if admin_signed_in? %>
    <%= button_to 'GitHub Wiki にエクスポート', minute_exports_path(@minute), form: { class: 'text-center' },  class: 'button m-auto' %>
  <% end %>

  <% if @minute.exported? %>
    <div class="text-center my-2">
      <%= link_to 'GitHub Wikiで確認', github_wiki_url(@minute), target: "_blank", rel: "nofollow" %>
    </div>
  <% end %>

  <div class="my-8 text-center">
    <%= link_to '議事録を編集する', edit_minute_path(@minute), class: "ml-4" %>
  </div>
</div>
