<div class="mx-auto w-full">
  <div class="mx-auto">
    <%= render 'courses/tabs/course_tab', active_tab: @course, resource: Member %>

    <h2 class="mb-8 text-2xl font-bold text-center"><%= "#{@course.name}のメンバー" %></h2>

    <% if admin_signed_in? %>
      <% active_tab = params[:status] ? params[:status] : 'active' %>
      <%= render 'status_tab', course: @course, active_tab: active_tab %>
    <% end %>

    <div>
      <ul class="list-disc list-inside">
        <% @members.each do |member| %>
          <li class="mb-6" data-member="<%= member.id %>">
            <%= image_tag member.avatar_url, class: 'w-12 h-12 inline-block rounded-full border border-gray-300' %>
            <%= link_to "#{member.name}", member, class: "py-3 inline-block" %>
            <% if member.hibernated? %>
              <span class="text-sm text-gray-500">離脱中</span>
            <% end %>
            <% if admin_signed_in? && !member.hibernated? %>
              <%= content_tag :div, class: 'hibernation_button inline-block', data: {member_id: member.id, member_name: member.name}.to_json do %><% end %>
            <% end %>
            <div class="my-2">
              <%= render 'shared/attendance_table', attendances: member.recent_attendances %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
