<div class="mx-auto w-full">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render 'courses/tabs/course_tab', active_tab: @course, resource: Member %>

    <h2 class="mb-8 text-2xl font-bold text-center"><%= "#{@course.name}のメンバー" %></h2>

    <div>
      <ul class="list-disc list-inside">
        <% @members.each do |member| %>
          <li class="mb-4" data-member="<%= member.id %>">
            <%= image_tag member.avatar_url, class: 'w-12 h-12 inline-block' %>
            <%= link_to "#{member.name}", member, class: "text-sky-600 py-3 inline-block hover:underline" %>
            <%= content_tag :div, class: 'recent_attendances mt-4', data: {attendances: member.all_attendances.pop(12)}.to_json do %><% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
