<% set_meta_tags(build_meta_tags(title: "#{@attendance_form.attendance.minute.title}の出席変更", description: "#{@attendance_form.attendance.minute.title}の出席を変更するページです。")) %>
<div class="bg-blue-700 mb-8">
  <div class="flex justify-between items-center md:max-w-5xl md:mx-auto">
    <h1 class="text-white font-bold text-xl py-4 md:text-2xl">出席編集</h1>
    <%= link_to '戻る', edit_minute_path(@attendance_form.attendance.minute), class: "block w-28 text-center p-2 bg-white text-blue-700 before:content-['<'] before:mr-4 hover:no-underline hover:bg-gray-200" %>
  </div>
</div>

<div class="page_body">
  <div>
    <p class="text-lg text-center"><%= l(@attendance_form.attendance.minute.meeting_date) %>のMTGの出席予定を編集</p>

    <%= form_with(model: @attendance_form, **@attendance_form.form_with_options, id: "attendance_form", class: "contents") do |form| %>
      <% if @attendance_form.errors.any? %>
        <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
          <h2>以下の項目で入力内容に誤りがあります:</h2>

          <ul>
            <% @attendance_form.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mt-8 mb-12 flex gap-x-6 w-[550px] mx-auto">
        <div class="w-full h-10 border border-blue-700 rounded-lg">
          <%= form.radio_button :status, "afternoon", class: "hidden peer/afternoon" %>
          <%= form.label(:status_afternoon, id: "label_afternoon", class: "radio_button_label peer-checked/afternoon:after:content-[""] peer-checked/afternoon:after:w-2 peer-checked/afternoon:after:h-2 peer-checked/afternoon:after:rounded-full peer-checked/afternoon:after:bg-blue-700 peer-checked/afternoon:after:absolute peer-checked/afternoon:after:left-4 peer-checked/afternoon:bg-blue-100") do %>
            <%= content_tag(:span, "#{AttendanceForm.human_attribute_name('status.afternoon')}に出席", class: "block w-full pl-10") %>
          <% end %>
        </div>
        <div class="w-full h-10 border border-blue-700 rounded-lg">
          <%= form.radio_button :status, "night", class: "hidden peer/night" %>
          <%= form.label(:status_night, id: "label_night", class: "radio_button_label peer-checked/night:after:content-[""] peer-checked/night:after:w-2 peer-checked/night:after:h-2 peer-checked/night:after:rounded-full peer-checked/night:after:bg-blue-700 peer-checked/night:after:absolute peer-checked/night:after:left-4 peer-checked/night:bg-blue-100") do %>
            <%= content_tag(:span, "#{AttendanceForm.human_attribute_name('status.night')}に出席", class: "block w-full pl-10") %>
          <% end %>
        </div>
        <div class="w-full h-10 border border-blue-700 rounded-lg">
          <%= form.radio_button :status, "absent", class: "hidden peer/absent" %>
          <%= form.label(:status_absent, id: "label_absent", class: "radio_button_label peer-checked/absent:after:content-[""] peer-checked/absent:after:w-2 peer-checked/absent:after:h-2 peer-checked/absent:after:rounded-full peer-checked/absent:after:bg-blue-700 peer-checked/absent:after:absolute peer-checked/absent:after:left-4 peer-checked/absent:bg-blue-100") do %>
            <%= content_tag(:span, "#{AttendanceForm.human_attribute_name('status.absent')}", class: "block w-full pl-16") %>
          <% end %>
        </div>
      </div>

      <div class="my-5 text-center absent_entry_field">
        <%= form.label :absence_reason, class: "block mb-2" %>
        <%= form.text_field :absence_reason, placeholder: '職場のイベントに参加するため' ,class: 'input_type_text w-[400px] md:w-[600px]' %>
      </div>

      <div class="my-5 text-center absent_entry_field">
        <%= form.label :progress_report, class: "block mb-2" %>
        <%= form.text_area :progress_report, placeholder: "#8000 チームメンバーのレビュー待ちの状態です。", class: 'w-[400px] md:w-[600px] h-36 border border-gray-300 rounded-lg align-middle' %>
        <div class="mt-2 mx-auto text-sm w-[550px] text-gray-500 text-left">
          <p class="text-center mb-2">進捗報告は以下の形式で入力をお願いします。</p>
          <ul>
            <li>空行は開けず、一つの報告内容につき一行で記入してください。</li>
            <li>
              「#Issue番号 進捗報告」の形式で記入してください。
              <ul>
                <li>(例) #8000 Twitter Cardの仕様を調査しました。</li>
                <li>(例) #8022 チームメンバーから依頼されたレビュー対応を行いました。</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div class="text-center">
        <%= form.submit "#{Attendance.model_name.human}を更新", class: "button cursor-pointer" %>
      </div>
    <% end %>
  </div>
</div>
