<div class="w-full">
  <h1 class="font-bold text-4xl mb-8">
    <%= "#{@member.name}さんの出席一覧(#{@member.course.name})" %>
  </h1>

  <div class="mb-8">
    <% @member.all_attendances.each do |year, attendances_by_year| %>
      <div class="mb-8">
        <p class="mb-2 text-xl"><%= year %>年</p>
        <% attendances_by_year.each do |attendances| %>
          <div class="mb-2">
            <div class="flex">
              <% attendances.each do |attendance| %>
                <div class="w-16 text-center first:border [&:nth-child(n+2)]:border-t [&:nth-child(n+2)]:border-r [&:nth-child(n+2)]:border-b border-gray-400 p-2 bg-gray-200">
                  <%= attendance[:date].strftime('%m/%d') %>
                </div>
              <% end %>
            </div>
            <div class="flex">
              <% attendances.each do |attendance| %>
                <div class="w-16 text-center first:border-l border-r border-b border-gray-400 p-2">
                  <%= attendance_status(attendance[:status], attendance[:time]) %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if @member == current_development_member %>
    <div class="mt-4 text-center">
      <%= content_tag :div, id: 'logout_button' do %><% end %>
    </div>
  <% end %>
</div>
