<div class="w-full">
  <h1 class="font-bold text-4xl mb-8">
    <%= "#{@member.name}さんの出席一覧(#{@member.course.name})" %>
  </h1>

  <div class="mb-8">
    <% if @member.all_attendances.empty? %>
      <p><%= @member.name %>さんはまだミーティングに出席していません</p>
    <% else %>
      <% @member.all_attendances.each do |year, attendances_by_year| %>
        <div class="mb-8" data-meeting-year="<%= year %>">
          <p class="mb-2 text-xl"><%= year %>年</p>
          <% attendances_by_year.each.with_index do |attendances, i| %>
            <div class="mb-2" data-attendance-table="<%= i + 1 %>">
              <%= render 'shared/attendance_table', attendances: attendances %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  <% if @member == current_development_member %>
    <div class="mt-4 text-center">
      <%= button_to 'チーム開発を抜ける', logout_path, method: :delete, class: "button",
                                                    form: { data: { turbo: true, turbo_confirm: 'チーム開発を抜けます、本当によろしいですか？' } } %>
    </div>
  <% end %>
</div>
