<% title = @member == current_development_member ? 'ダッシュボード' : "#{@member.name}さんの出席一覧" %>
<% description = @member == current_development_member ? 'ダッシュボードページです。' : "#{@member.name}さんの出席一覧ページです。" %>
<% set_meta_tags(build_meta_tags(title:, description:)) %>

<div class="bg-blue-700">
  <h1 class="page_header">
    <%= "#{@member.name}さん" %>
  </h1>
</div>

<div class="page_body">
  <div class="flex mb-8">
    <div>
      <%= image_tag @member.avatar_url, alt: "#{@member.name}の画像", class: 'w-20 h-20 rounded-full border border-gray-300' %>
    </div>
    <div class="pt-2 ml-2">
      <p class="text-lg pl-2">
        <%= @member.name %>
        <% if @member.hibernated? %>
          <span class="text-sm text-gray-500 pl-2">離脱中</span>
        <% end %>
      </p>
      <p class="text-gray-500 pl-2"><%= @member.course.name %></p>
    </div>
  </div>

  <h2 class="font-bold text-lg text-blue-700 bg-gray-200 py-2 pl-2 border-l-8 border-blue-700 mb-8">出席状況</h2>
  <div class="mb-8">
    <% if @member.all_attendances.empty? %>
      <p><%= @member.name %>さんはまだミーティングに出席していません</p>
    <% else %>
      <% @member.all_attendances.each do |year, attendances_by_year| %>
        <div class="mb-8" data-meeting-year="<%= year %>">
          <p class="mb-4 font-bold border-b-[1px] border-gray-200"><%= year %>年</p>
          <% attendances_by_year.each.with_index do |attendances, i| %>
            <div class="mb-2" data-attendance-table="<%= i + 1 %>">
              <%= render 'shared/attendance_table', attendances: attendances %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  <% if @member == current_development_member %>
    <div class="mt-4 text-center">
      <%= button_to 'チーム開発を抜ける', logout_path, method: :delete, class: "button",
                                                    form: { data: { turbo: true, turbo_confirm: 'チーム開発を抜けます、本当によろしいですか？' } } %>
    </div>
  <% end %>
</div>
